<div>
  <h1>Datos personales 😎</h1>
  <p><strong>Nombre</strong>: {{firstName}}</p>
  <p><strong>Apellido</strong>: {{lastName}}</p>
  <p><strong>Edad</strong>: {{age}}</p>
  <p><strong>Correo</strong>: {{email}}</p>
</div>